{% extends "base.html" %}

{% block title %}O nas{% endblock %}

{% block content %}
<h1>O nas</h1>

<div class="about-container">
    <img src="{{ url_for('static', filename='images/hotel.png') }}" class="about-image">

    <div class="about-text">

<p>Jeśli szukasz najbardziej wyjątkowego Balu Sylwestrowego w Warszawie,</p>
<p>zapraszamy do DoubleTree by Hilton Warsaw – eleganckiego hotelu położonego w otoczeniu zieleni,</p>
<p>z doskonałym dojazdem z centrum miasta. W tym roku Sylwester w DoubleTree nabierze prawdziwego blasku i teatralnego charakteru </p>   

<p>Na scenie wystąpi Natasza Urbańska – charyzmatyczna wokalistka, tancerka i aktorka,</p>
<p>której występy elektryzują publiczność w całej Polsce.</p> 
<p>jej będzie legendarna grupa Teatr Studio Buffo, stworzona przez duet Janusz Józefowicz i Janusz Stokłosa </p>
<p> – artystów odpowiedzialnych za najbardziej znane polskie musicale.</p>

<p>Bal Sylwestrowy w DoubleTree by Hilton Warsaw odbędzie się w godzinach 20:00–04:00 i zapewni wyjątkowe atrakcje, </p>
<p>wykwintne menu, elegancką oprawę oraz niezrównaną atmosferę noworocznego świętowania.</p>

<p>Zaplanuj swój Sylwester 2025/2026 w Warszawie już dziś – w miejscu, gdzie sztuka spotyka luksus,</p>
<p>a noc sylwestrowa staje się prawdziwym wydarzeniem artystycznym.</p>

    </div>
</div>
{% endblock %}