{% extends "base.html" %}

{% block title %}Wszystkie zapisy{% endblock %}

{% block content %}
<h1>Panel admina – lista zapisów</h1>

<hr>

<table border="1" cellpadding="5">
    <tr>
        <th>Nr</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Liczba osób</th>
        <th>Status</th>
        <th>Akcja</th>
    </tr>

    {% for r in registrations %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ r.first_name }}</td>
        <td>{{ r.last_name }}</td>
        <td>{{ r.email }}</td>
        <td>{{ r.phone }}</td>
        <td>{{ r.guests }}</td>

        <td>
            {% if r.confirmed %}
                ✔ Potwierdzona
            {% else %}
                ⏳ Oczekuje
            {% endif %}
        </td>

        <td>
            {% if not r.confirmed %}
                <a href="{{ url_for('confirm', id=r.id) }}">Potwierdź</a>
            {% endif %}
            <a href="{{ url_for('delete', id=r.id) }}">Usuń</a>
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}